#sub-menu-1
{
background: url(../image/header1v2.png);
}
#sub-menu-2
{
background: url(../image/header2v2.png);
}
#sub-menu-3
{
background: url(../image/header3v2.png);
}
#sub-menu-4
{
background: url(../image/header4v2.png);
}
.menu-header{width:100%;height:134px;margin-bottom: 50px;}
.image-header{}
.image-header-p1{float:left;width: 15%;padding-top:3%;}
.image-header-p3{float:right;width: 7%; }
.catchprhase{float:left;color:white;margin:4% 0% 0% 4%;}
#menu-1{background:white;}
#menu-2{background:#3d444e;}
#menu-3{background:white;}
#menu-4{background:#d0cbb7;}
.icone{
width:150px;
height:150px;
background:#eee;
color:#333;
border-radius:75px;}
.container{height:400px;}
.section_header{
    margin-bottom: 80px;
    border-bottom-width: 1px;
    border-bottom: 1px solid #FFF;
}
.texte_menu{
    margin-bottom: 20px;
    text-align:center;
}
#templatemo_pricing {
    background: #3d444e;
    overflow: hidden;
}
#templatemo_pricing h1 {
    color: #ffffff;
}

#templatemo_pricing .pricing_icon_wapper {
    overflow: hidden;
}
#templatemo_pricing .pricing_icon_wapper p.cycle_icon {

}
#templatemo_pricing .pricing_icon_wapper p.cycle_icon span {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 75px;
    background: #e2e5ea;
    text-align: center;
	padding: 48px;
    font-size: 56px;
    color: #7e90dc;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

#templatemo_pricing .pricing_icon_wapper h1 {
    text-align: center;
    font-size: 24px;
}

#templatemo_pricing .pricing_icon_wapper p {
    text-align: center;
    color: #fff;
}

#templatemo_pricing .price_table_box {
    background: #e7eaef;
    margin-top: 35px;
    margin-bottom: 60px;
    padding-bottom: 30px;
    position: relative;
}

#templatemo_pricing .price_table_box h1 {
    background: #7e90dc;
    margin: 0;
    width: 100%;
    min-height: 90px;
	padding: 30px 0px;
    text-align: center;
    font-size: 30px;
}

#templatemo_pricing .price_table_box ul {
    margin: 0;
    padding: 0 30px 25px 70px;
    list-style: none;
}

#templatemo_pricing .price_table_box ul li {
    margin: 0;
    padding: 25px 0 0 0;
}

#templatemo_pricing .price_table_box ul li span {
    margin: 0 10px 0 -30px;
}

#templatemo_pricing .price_table_box div {
    text-align: center;
    width: 200px;
    margin: auto;
}

#templatemo_pricing .price_table_box div:hover {
    background: #CCE5F5;
}

#templatemo_pricing .price_table_box div p a {
	display: block;
	border: 2px solid #7e90dc;
    font-size: 32px;
    color: #7e90dc; 
    width: 100%;
	padding: 12px 0px;
    text-decoration: none;
}
